.Home-page{
    display: flex;
}
.nav-class {
    padding: 0px 40px 0px 0px ;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
}

.a .nav-class{
    padding: 4px 15px;
}